#Main Repo
demos/ckad-exercises/*
*/ckad-exercises/*
demos/ckad-exercises

#Guestbook demo
# tar -xf guestbook1.tar in guestbook-svc-demo
# to get the demo files
*/guestbook/*
/guestbook/*
/guestbook/
demos/guestbook-svc-demo/guestbook/*
demos/guestbook-svc-demo/guestbook/

#Secrets and SOPS/AGE Lab stuff
*.key
*.tkn
*.token
*/key.txt
demos/sops-age-demo/key.txt
db-password.*
demos/sops-age-demo/secret.yaml
demos/sops-age-demo/secret-encrypted.yaml

#VSCode
*.code-workspace

#Practice
*/practice/*
/practice/*
/practice/